/* VARIABLES */
:root {
    /* Colors */
    --bg-primary: #141922;
    --bg-secondary: #282828;
    --bg-top: #080b12;
    --bg-hover: #adff2f;
    --bg-footer: #282828;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMON */
/* Typography */
body {
    font-family: 'Montserrat', sans-serif;
}

.white {
    color: white;
}

.grey {
    color: #656565;
}

/* Utilities */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.ai-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}

.between {
    justify-content: space-between;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* WRAPPER */
.wrapper {
    width: 100%;
    height: 100vh;
    /* background-color: var(--bg-primary); */
}

/* MAIN */
.main {
    width: calc(100% - 200px);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 200px;
    overflow-y: auto;
}

/* Top Container */
.top-container {
    height: 100px;
    width: calc(100% - 200px);
    position: fixed;
    z-index: 100;
    background-color: var(--bg-top);
}

.top-button {
    border: 1px solid white;
    font-size: .8rem;
    font-weight: 700;
    margin-right: 20px;
    padding: 10px 40px;
    border-radius: 40px;

}





/* Middle Container */
.middle-container {
    width: 100%;
    background-color: lightpink;
    /* debug */
    height: calc(100% - 100px);
}

/* SIDEBAR */
.sidebar {
    position: ;
    width: 200px;
    height: calc(100% - 100px);
    background-color: lightgoldenrodyellow;
}

/* PLAYER */
.player {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: aqua;

}