/* VARIABLES */
:root {
    /* Colors */
    --bg-primary: #141922;
    --bg-secondary: #282828;
    --bg-top: #080b12;
    --bg-hover: #adff2f;
    --bg-footer: #282828;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMON */
/* Typography */
body {
    font-family: 'Montserrat', sans-serif;
}

.white {
    color: white;
}

.grey {
    color: #656565;
}

/* Utilities */
/* flex */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}

.ai-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}

.between {
    justify-content: space-between;
}

/* position */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* .inline {
    display: inline-block;
} */

/* spacing */
.line-h-20 {
    line-height: 30px;
}

.p-20 {
    padding: 20px;
}

.m-20 {
    margin: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* WRAPPER */
.wrapper {
    width: 100%;
    height: 100vh;
    /* background-color: var(--bg-primary); */
}

/* MAIN */
.main {
    width: calc(100% - 250px);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 250px;
    overflow-y: auto;
}

/* Top Container */
.top-container {
    height: 100px;
    width: calc(100% - 250px);
    position: fixed;
    z-index: 100;
    background-color: var(--bg-top);
    opacity: .8;
}

.top-button {
    border: 1px solid white;
    font-size: .8rem;
    font-weight: 700;
    margin-right: 20px;
    padding: 10px 40px;
    border-radius: 40px;
}

/* Middle Container */
.middle-container {
    width: 100%;
    background-color: lightpink;
    /* debug */
    height: calc(100% - 100px);
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    height: calc(100% - 100px);
    background-color: black;
}

.logo-container {
    width: 80%; 
}

.nav-container {
    height: 100%;
}

.user {
    flex-basis: 15%;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 70px;
    }

    .main {
        width: calc(100% - 70px);
        height: 100vh;
        position: absolute;
        top: 0;
        left: 250px;
    }
}
/* PLAYER */
.player {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: aqua;

}